/* -------------------------------------------------------------------------
                                INDEX
----------------------------------------------------------------------------


|| DEFAULTS

|| NAVBAR
|| WELCOME

|| BUTTONS
|| COLORS
|| CURVES


----------------------------------------------------------------------------
|| DEFAULTS
--------------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;

    background: #202731;

    font-family: 'Afacad Flux', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p, a {
    font-size: 20px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 10vw;
}

/* --------------------------------------------------------------------------
|| NAVBAR
--------------------------------------------------------------------------*/

.site-navigation-container {
    display: flex;
    justify-content: center;
}

nav.site-links {
    z-index: 1;
    position: absolute;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: 90%;
    padding: 20px;

    border-bottom: 1px solid #ffffff86;
}

nav.site-links a {
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
}

.site-logo {
    font-family: "Noto Serif", sans-serif;
    font-weight: bold;
}

/* --------------------------------------------------------------------------
|| WELCOME
--------------------------------------------------------------------------*/

.welcome {
    box-shadow: inset -2000px -2000px #24150dab;
    min-height: 55vh;

    background-image: url("./images/coffee-shop.jpg");
    background-size: cover;
    background-position: center;

    text-align: left;
}

.welcome-box {
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 67px;
    height: 100%;
    min-width: 50vw;
}

.established {
    /* margin: 10px auto 10px auto; */
    color: #cacaca;
}

.welcome-message {
    text-align: left;
}

h1 {
    font-family: "Noto Serif", sans-serif;
    font-size: calc(32px + 4vw);
}

.tiny-print {
    font-size: calc(10px + 3vw);
}

/* --------------------------------------------------------------------------
|| BUTTONS
--------------------------------------------------------------------------*/

.view-menu {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin: 30px 0;

    border: none;
    border-radius: 5px;
    padding: 10px 40px;

    background-color: #1a0f09;
    font-size: 1.1rem;
    color: #fff;
}

.view-menu:hover {
    transition: 0.2s;

    border: none;

    background-color: #693f27;
}

/* return to top button */

#return-to-top {
    z-index: 2;
    position: fixed;
    right: 5vw;
    bottom: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 2px 5px #00000038;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    background-color: #00000050;

    color: #fff;
    text-decoration: none;
}

/* --------------------------------------------------------------------------
|| COLORS
--------------------------------------------------------------------------*/
.falu-red {
    background-color: #6F1D1B;
}

.lion {
    background-color: #BB9457;
}

.bistre {
    background-color: #432818;
}

.brown {
    background-color: #99582A;
}

.peach {
    background-color: #FFE6A7;
}

/* --------------------------------------------------------------------------
|| CURVES
--------------------------------------------------------------------------*/
.custom-shape-divider-bottom-1728054470 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1728054470 svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 117px;
}

.custom-shape-divider-bottom-1728054470 .shape-fill {
    fill: #6F1D1B;
}

@media screen and (min-width: 700px) {
    section {
        padding: 100px 20vw;
    }
    
    .welcome {
        text-align: center;
    }

    .welcome-box {
        align-items: center;
    }
}