/* ===========================================================================================
                                        CSS INDEX
==============================================================================================

|| GENERAL
|| TYPOGRAPHY
|| COLOR PALETTE

|| MEDIA QUERIES

==============================================================================================
|| GENERAL
=========================================================================================== */

body {
    min-height: 100vh;
    background: rgb(20,18,29);
    background: linear-gradient(0deg, rgba(20,18,29,1) 0%, rgba(28,16,31,1) 100%);
}

/* ===========================================================================================
|| TYPOGRAPHY
=========================================================================================== */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

    color: #fff;
}

/* ===========================================================================================
|| COLOR PALETTE
=========================================================================================== */


/* ===========================================================================================
|| MEDIA QUERIES
=========================================================================================== */